<h1>{{ name }}</h1>
<ul>
    {% if id %}
    <li>ID: {{ id }}</li>
    {% endif %}
    {% if address %}
    <li>Address: {{ address }}</li>
    {% endif %}
    {% if city %}
    <li>City: {{ city }}</li>
    {% endif %}
    {% if country %}
    <li>Country: {{ country }}</li>
    {% endif %}
    {% if phone_number %}
    <li>Phone Number: {{ phone_number }}</li>
    {% endif %}
    {% if email %}
    <li>Email: {{ email }}</li>
    {% endif %}
    {% if description %}
    <li>Description: {{ description }}</li>
    {% endif %}
    {% if rating_average %}
    <li>Rating: {{ rating_average }}</li>
    {% endif %}
</ul>
